<launch>

<arg name="publishrate" default="100" />
<arg name="channelnumber" default="8" />
<arg name="acqrate" default="12000" />
<arg name="streampubtopic" default="/labjack/channelstream"/>
<arg name="verbose" default="false" />
<arg name="streaming" default="true" />


<node pkg="labjack_ros" type="labjack_node" name="labjack_node" output="screen" >
    <param name="pubrate" type="int" value="$(arg publishrate)" />
    <param name="numchannels" type="int" value="$(arg channelnumber)" />
    <param name="acquisitionrate" type="int" value="$(arg acqrate)" />
    <param name="verbose" type="bool" value="$(arg verbose)" />
    <param name="streampubtopic" type="str" value="$(arg streampubtopic)" />
    <param name="streaming" type="bool" value="$(arg streaming)" />
</node>

</launch>
